<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZAINAY/LOGIN</title>
    <link rel="stylesheet" type="text/css" href="/customer/style1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="wrapper">
        <form action="/admin_login" method="post" id="admin_login-form">
            <h1>LOGIN</h1>
       
            <div class="input-box">
                <input type="text" placeholder="Email"  name="email" id="admin_Email" required><i class="fa-solid fa-envelope"></i>
                <p class="text-danger" id="username-error-display"></p>
            </div>
            
            <div class="input-box">
                <input type="text" placeholder="Password" name="password" id="admin_Passowrd" required><i class="fa-solid fa-lock"></i>
                <p class="text-danger" id="password-error-display"></p>

            </div>
            <div>
               
                <p class="text-danger" id="common-error-display"></p>
               

            </div>
            <div class="ForgotPassowrd-link">
                <a href="">ForgotPassowrd?</a>
            </div>
            
            <button type="submit" class="btn" >LOGIN</button>
            

            
        </form>

    </div>

<script>
     const admin_login_Form = document.getElementById('admin_login-form');
     const admin_email= document.getElementById('admin_Email');
    
     const admin_password = document.getElementById('admin_Password');

     login_Form.addEventListener('submit',(event)=>{
        
        let input_Errors=false;

        document.getElementById("password-error-display").innerHTML = "";

        if(!admin_name.value  || !admin_password.value){
            input_Errors = true;
            document.getElementById('common-error-dispaly').innerHTML = 'Please fill all the fields';
        }
       
       })
       if(input_Errors){
        event.preventDefault();
       }


</script>
</body>
</html>