<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZAINAY</title>

    <!-----------Box -icons--------->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" type="text/css" href="/customer/style2.css">
    <link rel="stylesheet" type="text/css" href="/admin/style1.css">
    <!-------link icons-->
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!----------Bootstrap link-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">

        <nav>
            <div class="logo">
                <i class="fa-solid fa-store"></i>
              <h1>ZAINAY</h1>
            </div>
            <ul class="nav-lists">
                <li><a href="">LOGOUT</a></li>
             </ul>
             
        </nav>
        <!-----------Sidebar---------->
        <div class="sidebar">
            <a href="#" class="active">DASHBOARD</a><br>
            <a href="#">USER MANAGEMENT</a><br>
            <a href="#">PRODUCT MANAGEMENT</a><br>
            <a href="#">CATEGORY MANAGEMENT</a><br>
            <a href="#">ORDER MANAGEMENT</a><br>
            <a href="#">COUPON MANAGEMENT</a><br>
            <a href="#">BANNER MANAGEMENT</a><br>
            <a href="#">SALES REPORT</a><br>
            <a href="#">ENQUIRIES</a>
          </div>
          